[submodule "imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui/
[submodule "dependencies/spdloa"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "dependencies/hlslpp"]
	path = dependencies/hlslpp
	url = https://github.com/redorav/hlslpp
